// header部分
.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  background: white;
  z-index: 1;

  &__logo {
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
    margin-left: 7%;
  }
  &__logo--icon {
    width: 30px;
    padding: 0.2rem;
    height: auto;
  }
  &__logo--text {
    color: #35c1d3;
    font-size: 1.5rem;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
  }

  &__search {
    width: 100%;
    height: 100%;
  }
  &__search--input{
    width: 30%;
    height: 70%;
    background: #f5f5f5;
    border: 1px solid rgb(211, 210, 210);
    border-radius: 30px;
    margin: 1% 0 0 25%;
  }
  &__search--mark_wrapper {
    position: relative;
    border-radius: 100%;
    border: none;
    width: 40px;
    height: 40px;
    background: rgb(1, 185, 209);
    top: -6%;
    right: 6%;
  }
  &__search--mark_img {
    position: absolute;
    width: 50%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  &__account {
    width: 10%;
    height:  100%;
  }
  &__account--globe {
    width: 15px;
    height: auto;
    margin: 0 0.5rem;
  }
  &__account--wrapper{
    width: 7%;
    height:50%;
    border: 1px solid rgb(211, 210, 210);
    border-radius: 30px;
    margin: 0 5% 0 0;
  }
}