// header部分
.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1280px;
  height: 5rem;
  background: white;
  z-index: 1;

  &__logo {
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
  }
  &__logo--icon {
    width: 30px;
    padding: 0.2rem;
    height: auto;
  }
  &__logo--text {
    color: #35c1d3;
    font-size: 1.5rem;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
  }

  &__search {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  &__search--input{
    width: 30%;
    height: 70%;
    background: #f5f5f5;
    border: 1px solid rgb(211, 210, 210);
    border-radius: 30px;
    margin-top: 2%;
  }
  &__search--mark_wrapper {
    position: relative;
    border-radius: 100%;
    border: none;
    width: 40px;
    height: 40px;
    background: rgb(1, 185, 209);
    top: -6%;
    right: 6%;
  }
  &__search--mark_img {
    position: absolute;
    width: 50%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  &__account {
    width: 18%;
    height:  100%;
    display: flex;
    align-items: center;
    justify-content: right;
  }
  &__account--globe {
    width: 15px;
    height: 15px;
    margin: 0 0.5rem;
  }
  &__account--wrapper{
    height: 50%;
    border: 1px solid rgb(211, 210, 210);
    border-radius: 30px;
    padding: 0 5px;
    display: flex;
    align-items: center;
  }

  &__account--favourites {
    color: #35c1d3;
  }
  &__margin {
    max-width: 1280px;
    margin: 150px auto 0 auto;
  }
}