.detail {
    width: 1000px;
    margin: 110px auto 0 auto;

    &__container {
        display: flex;
        margin-bottom: 50px;

        &--img {
            width: 700px;
            height: 300px;
            object-fit: cover;
            border-radius: 10px;
        }

        &--info {
            margin-left: 50px;
            border-collapse: collapse;

            td, th {
                border: 1px solid #ddd;
                padding: 8px;
            }
            
            td {
                width: 150px;
            }

            th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                color: white;
                background-color: #35c1d3;
            }
        }
    }

    &__link {

        text-align: center;
        
        a {
            text-align: center;
            color: #35c1d3;
            font-size: 20px;
        }
    }
}

