.favourites {
  margin: 120px auto 0 auto;
  width: 1280px;
  text-align: center;

  &__title {
    text-align: center;
  }

  &__table {
    width: 70%;
    margin: 0 auto 40px auto;
    border-collapse: collapse;

    td,
    th {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      padding-top: 12px;
      padding-bottom: 12px;
      background-color: #35c1d3;
      color: white;
    }

    .delete_button {
      border: 1px solid red;
      color: red;
      background-color: inherit;
      padding: 5px 10px;
      font-size: 15px;
      cursor: pointer;
    }
  }

  &__link {
    color: #35c1d3;
    font-size: 20px;
  }
}
